/* =================newAnimationForInput===================== */

.labelBox {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
    margin-bottom: 58px;
  }
}

.labelBoxDescription {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    font-size: 16px;
  }
}

.labelBox::before,
.labelBox::after,
.labelBoxDescription::before,
.labelBoxDescription::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 1px;
  background-color: #ff6b08;
  transition: width 0.2s;
}

.labelBox::before,
.labelBoxDescription::before {
  left: 50%;
}

.labelBox::after,
.labelBoxDescription::after {
  right: 50%;
}

.input_name:focus ~ .labelBox::before,
.input_name:focus ~ .labelBox::after,
.input:focus ~ .labelBoxDescription::before,
.input:focus ~ .labelBoxDescription::after {
  width: 50%;
}

.nameLabel {
  position: absolute;
  top: -25px;

  pointer-events: none;

  color: rgba(24, 28, 39, 0.6);
  font-size: 18px;
  transition: 0.2s ease all;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.descriptionLabel {
  position: absolute;
  top: -25px;

  pointer-events: none;

  color: 767px;
  font-size: 18px;
  transition: 0.2s ease all;
  @media screen and (max-width: 767px;) {
    font-size: 16px;
  }
}

.input_name:focus ~ .labelBox .nameLabel,
.input_name:not(:placeholder-shown) ~ .labelBox .nameLabel {
  font-size: 12px;
  transform: translateY(-18px);
}

.input:focus ~ .labelBoxDescription .descriptionLabel,
.input:not(:placeholder-shown) ~ .labelBoxDescription .descriptionLabel {
  font-size: 12px;
  transform: translateY(-18px);
}

/* ======================================================= */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  color: #181c27;
  border: 1px solid rgba(24, 28, 39, 0.2);
  border: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  line-height: 1.21;
  font-size: 36px;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 26px;
  }
}

.input,
.empty_input {
  width: 100%;
  height: 30px;
  border: none;

  border-bottom: 1px solid rgba(24, 28, 39, 0.2);

  outline: 0;

  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.input_name {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
  font-size: 18px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.input_name:focus-within {
  border-color: #ff6b08;
  outline: 0;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.empty_input {
  border-bottom: 1px solid #ff2c0c;
}

.empty_input::placeholder {
  color: #ff2c0c;
}

.ready_btn {
  margin: 0 auto;

  margin-bottom: 20px;
  width: 148px;
  height: 44px;

  outline: none;
  border: none;

  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 25px;
  cursor: pointer;
}
.ready_btn:hover,
.ready_btn:focus {
  color: #ff6b08;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(255, 107, 8, 0.3);
}

.cancel_btn {
  color: rgba(24, 28, 39, 0.6);
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.cancel_btn:hover,
.cancel_btn:focus {
  color: #181c27;
  text-shadow: 0 3px 4px rgba(45, 44, 46, 0.3);
}

.text {
  margin-bottom: 20px;
  color: rgba(24, 28, 39, 0.6);
}
